<!DOCTYPE html>
<html lang="end">
    <head>
        <%- include('../partials/head.ejs'); %> 
    </head>
    <body>
        <header>
            <%- include('../partials/header.ejs'); %>
        </header>
        <main>
        <%if(winner){%>
            <h1>Poll Result</h1>
            <div>
            <label>Won:</label>
            <label><%=winner.name%>(<%=winner.votes%>)</label>
            </div>
            <div>
            <!-- <label>Lost:</label>
            <label>Akshay Singh(18)</label>
            </div> -->
        <% } else{%>
        <h1 style="color: red;">Election is yet to be started</h1>
        <% } %>
        </main>
        <footer>
            <%- include('../partials/footer.ejs'); %>
        </footer>
    </body>
</html>