<!DOCTYPE html>
<html lang="end">
    <head>
        <%- include('../partials/head.ejs'); %> 
    </head>
    <body>
        <header>
            <%- include('../partials/header.ejs'); %>
        </header>
        <main>
            <h1>Voting Report</h1>
            <table >
            <th>Candidates</th>
            <th>Votes</th>
          <% for(var i in list) {%>
            <tr>
                <td><%= list[i].name %></td>
                <td><%= list[i].votes%></td>
            </tr>
        <%}%>
        </table>
        </main>
        <footer>
            <%- include('../partials/footer.ejs'); %>
        </footer>
    </body>
</html>